

.Logo{
    display: flex;
}

.Logo .L1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #fff;
}
.Logo .L2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #41BFCD;
    background: #fff;
    padding-inline: 5px;
    border-radius: 5px;
}

.Descripcion-App{
    margin-top: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
}

.Descripcion-App strong{
    color: #41BFCD;
}