.Contenedor-Tecnologias-Favoritas{
    margin-top: 2rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 300px;
}

.Title{
    font-size: .8rem;
    color: #fff;
    margin-bottom: 10px;
}



.Title  h1{
    text-transform: uppercase;
    -color: #fff;
    font-weight: 700;
}

.Title p{
    color: #5D6064;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Contenedor-items-herramientas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.item-herramienta{
    border: 2px solid #fff;
    width: 80%;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #5E6A7E;
    border-radius: 5px;
}

.item-herramienta input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #31363B;
    font-weight: bold;
}

.item-herramienta input::placeholder{
    color: #5E6A7E;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}


.Requerido{
    margin-top: 20px;
    color: #C05B60;
    font-weight: normal;
}