.Contenedor-Datos_Personales{
    margin-top: 2rem;
    width: 100%;
    font-family: 'Inter', sans-serif;
    height: 300px;
}

.Title{
    font-size: .8rem;
    margin-bottom: 10px;
}

.Title  h1{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.Title p{
    color: #5D6064;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.Formulario-Datos{
  
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.separador{
    width: 1px;
    margin: 0 auto;
    height: 100%;
    background: #fff;
}

.Formulario-Datos .Grupo-Datos-Personales{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.label-input{
    margin-top: 20px;
    font-family: poppins, sans-serif;
}

label{
    color: #AAB4C1;
    
}

input{
    width: 90%;
    height: 40px;
    color: #fff;
    font-size: 1rem;
    padding-left: 10px;
    background: #1C2738;
    border: 1px solid #283446;
    border-radius: 5px;
    outline: none;
    

}
.Formulario-Datos .Grupo-Datos-Personales input::placeholder{
    color: #6B7280;
    font-weight: normal;
}

.Requerido{
    margin-top: 20px;
    color: #C05B60;
    font-weight: normal;
}