.Contenedor-Nivel-Experiencia{
    margin-top: 2rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 300px;
}

.Title{
    font-size: .8rem;
    color: #fff;
}
 

.Title  h1{
    text-transform: uppercase;
    -color: #fff;
    font-weight: 700;
}

.Title p{
    color: #5D6064;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Contenedor-items-Roles{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.item-rol{
    border: 2px solid #fff;
    width: 80%;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #31363B;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.item-rol:hover{
    border: 2px solid #34D399;
    background: #34D399;
    color: #fff;
}

.select{
    border: 2px solid #34D399;
    background: #34D399;
    color: #fff;
    width: 80%;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in;
}


.Requerido{
    margin-top: 20px;
    color: #C05B60;
    font-weight: normal;
}